---
# Only the main Sass file needs front matter
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Custom Fonts */

body {
  font-family: "Mulish", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Instrument Serif", serif;
}